<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

  {{ block "head" .}}
    {{ partial "head/head.html" .}}
  {{ end }}

  <body class="bg-mywhite container mx-auto">
    <div class="bg-mycolor-100">

  {{ partial "nav/nav.html" . }}



  {{ block "header" .}}
    {{ partial "header/header.html" .}}
  {{ end }}


    
       
    {{ block "main" . }}

    {{ end }}
  </div>
   
  {{ block "footer" .}}
    {{ partial "footer/footer.html" .}}
  {{ end }}

  <!-- Script pour le menu -->

  <script defer language="javascript" type="text/javascript"  src="{{ "/js/nav.js" }}"></script>

  </body>
</html>
