<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

  {{ block "head" .}}
    {{ partial "head/head.html" .}}
  {{ end }}

  {{ partial "nav/nav.html" . }}



  {{ block "header" .}}
    {{ partial "header/header.html" .}}
  {{ end }}

  <body class="bg-mywhite container mx-auto">
    <div class="bg-mycolor-100">
    
       
    {{ block "main" . }}

    {{ end }}
  </div>
   
  {{ block "footer" .}}
    {{ partial "footer/footer.html" .}}
  {{ end }}

  <!-- Script pour le menu -->
  <script>
    const triggerMenu = document.getElementById("menu");
    const triggerMenuOpen = document.getElementById("menuOpen");
    const triggerMenuClosed = document.getElementById("menuClosed");
    const nav = document.getElementById("nav")
    triggerMenuOpen.addEventListener("click", () => {
        // nav.classList.add("flex")
        nav.classList.remove("hidden")
        triggerMenuClosed.style.display ="block";
        triggerMenuOpen.style.display = "none";
    });
    triggerMenuClosed.addEventListener("click", () => {
        nav.classList.add("hidden");
        // nav.classList.remove("flex")
        triggerMenuOpen.style.display ="block";
        triggerMenuClosed.style.display = "none";
    });
</script>
  </body>
</html>
