

<div class="grid grid-cols-6 bg-mycolor-200 text-mycolor-800 place-items-center  py-6">
    <a href="/"><img  class=" " src="/images/logo/logoUltraReduce.png" alt="le logo des big brothers"></a>
    <a href="#"><img class="" src="/images/utilities/haut-pageUltraReduce.png" alt="symbole pour aller en haut de la page"></a> 
    <a href="/legal"><img class="" src="/images/utilities/legalUltraReduce.png" alt="symbole pour les mentions légales"></a>
    <a href="https://www.facebook.com/LesBlousesBrothers82/" ><img src="/images/utilities/facebookUltraReduce.png" alt="logo de facebook"></a>
    <a href="/contact"><img src="/images/utilities/contactUltraReduce.png" alt="symbole d'un agenda de contact"></a>
    <div class="text-center"><span class="hidden md:inline">Les Blouses Brothers</span><span class="md:hidden">BB82</span></div>
</div>
