<!--Tablettes et ordinateures-->
<nav class="hidden md:block bg-mycolor-0">
  <div class="flex justify-between w-full py-4">
    <a class="menu-style" href="/">
      Accueil
    </a>
    <a class="menu-style" href="/bricotek">
      BricoTek
    </a>
    <a class="menu-style" href="/agenda">
      Agenda
    </a>
    <a class="menu-style" href="/archives">
      Archives
    </a>
    <a class="menu-style" href="contact">
      Contact
    </a>
  </div>
  
  <div class="grid grid-cols-1 md:divide-y divide-red-400 pb-4">

    <div></div>
    <div></div>

</div>

</nav>



<!-- Fin de Tablettes et ordinateurs-->



