<br>
<div class="text-center border-4 border-red-400 uppercase py-4 font-bold">
    Prenez connaissance des futurs événements<br>
    Consultez notre agenda
</div>
<br>
<div class=" flex space-x-0">
  <button id="buttonEvents" class="bg-mycolor-600 text-mycolor-100  font-bold py-2  rounded-t-2xl w-28 md:w-56 border border-mycolor-600 " onclick="showEvents()">
  Evénements
  </button>
  <button id="buttonAgenda"class="bg-mycolor-300 text-mycolor-600  font-bold py-2  rounded-t-2xl w-28 md:w-56 border border-mycolor-300" onclick="showAgenda()">
    Agenda
  </button>
</div>


<div id="agendaGoogle" class="bg-mycolor-300 text-center text-mycolor-0 hidden"> 

<h2 class="text-mycolor-0">NOTRE AGENDA</h2>

<iframe class="mx-auto w-9/12 h-screen p-2 md:p-4 border-4 border-mycolor-800" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FParis&mode=WEEK&src=bWNiZXRoODJAZ21haWwuY29t&color=%237986CB"   frameborder="0" scrolling="no"></iframe>
</div>



<div id="events" class=" bg-mycolor-600 "></div>

<script src="/js/agenda.js"></script>

<script>
    function showAgenda() {
      let agendaGoogle = document.getElementById("agendaGoogle");
      let events = document.getElementById("events");
      agendaGoogle.style.display = "block";
      events.style.display = "none";
    }

    function showEvents() {
    let agendaGoogle = document.getElementById("agendaGoogle");
      let events = document.getElementById("events");
      agendaGoogle.style.display = "none";
      events.style.display = "block";
    };

  
      // let agendaGoogle = document.getElementById("agendaGoogle");
      // let events = document.getElementById("events");
      // let buttonAgenda = document.getElementById("buttonAgenda");
      // let buttonEvents = document.getElementById("buttonEvents");
      // buttonAgenda.addEventListener("mouseover", (event) => {

      //   buttonEvents.classList.remove("bg-mycolor-600");
      //   buttonEvents.classList.add("bg-mycolor-300");
      //   buttonEvents.classList.remove("text-mycolor-100");
      //   buttonEvents.classList.add("text-mycolor-600");
      //   buttonAgenda.classList.remove("bg-mycolor-300");
      //   buttonAgenda.classList.add("bg-mycolor-600");        
      //   buttonAgenda.classList.remove("text-mycolor-600");
      //   buttonAgenda.classList.add("text-mycolor-100");
      // });

      // buttonAgenda.addEventListener("mouseleave", (event) => {

      //   buttonEvents.classList.remove("bg-mycolor-300");
      //   buttonEvents.classList.add("bg-mycolor-600");
      //   buttonEvents.classList.remove("text-mycolor-600");
      //   buttonEvents.classList.add("text-mycolor-100");
      //   buttonAgenda.classList.remove("bg-mycolor-600");
      //   buttonAgenda.classList.add("bg-mycolor-300");        
      //   buttonAgenda.classList.remove("text-mycolor-100");
      //   buttonAgenda.classList.add("text-mycolor-600");
      // });
    
   
  </script>